<template-defining
  (templateReady)="processTemplates($event)">
</template-defining>

<ng-container *ngTemplateOutlet="templateContainer?.singleTemplate"></ng-container>

<ng-container *ngFor="let templateReference of templateContainer?.multipleTemplates">
  <ng-template *ngTemplateOutlet="templateReference"></ng-template>
</ng-container>