<!-- ngTemplateOutlet usage -->
<ng-template-outlet></ng-template-outlet>

<!-- Getting component reference -->
<referencing-component></referencing-component>

<!-- Getting DOM element reference -->
<referencing-dom-element></referencing-dom-element>

<!-- Getting DOM element from component -->
<referencing-dom-element-inside-component></referencing-dom-element-inside-component>

<!-- Getting ng-template reference -->
<referencing-template-ref></referencing-template-ref>

