<!-- Explicit context -->
<!-- Blue template -->
<ng-template #blue
  let-contextNumber="numberProperty"
  let-contextString="stringProperty">  
  <div style="background-color: cornflowerblue;">
    <p>blue template</p>
    <p>with number: {{contextNumber}}</p>
    <p>with string: {{contextString}}</p>
  </div>
</ng-template>

<!-- Creating template instance with explicit context -->
<ng-container *ngTemplateOutlet="blue; context:internalContext"></ng-container>

<!-- Creating template instance with no context -->
<ng-container *ngTemplateOutlet="blue"></ng-container>

<!-- Component string interpolation -->
<!-- Violet template -->
<ng-template #violet>
  <div style="background-color: violet;">
    <p>violet template</p>
    <p>with number: {{internalContext.numberProperty}}</p>
    <p>with string: {{internalContext.stringProperty}}</p>
  </div>
</ng-template>

<ng-container *ngTemplateOutlet="violet"></ng-container>
